<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>He co so tri thuc</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/test">F5</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                     <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""></a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""> </a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""></a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

    </div>
    <section id="">
          <div class="intro-header myBody">
            <div class="container">

                <div class="text-center" ng-app = "addQues" ng-controller = "addQues">
                    <h1><span class="fa fa-sign-in"></span> Add Location</h1>
                    <hr>
                    <div class="col-md-8">
                        <form action="/addLoc" method="POST" name="" >
                             <div class="form-group">   
                                  <label>Location</label>     
                                  <!--  <input type="text" name="cauhoi" class="form-control" ng-model="ques" placeholder="Question"/> -->
                                   
                            </div>
                            <div class="form-group">
                                
                                <input type="text" class="form-control" name="c" ng-model="c" placeholder="c"/>
                                <input type="text" class="form-control" name="loc" ng-model="loc" placeholder="Location"/>
                                <input type="text" class="form-control" name="lat" ng-model="lat" placeholder="Lat"/>
                                <input type="text" class="form-control" name="lon" ng-model="lon" placeholder="Lon"/>
                                <input type="text" class="form-control" name="link" ng-model="link" placeholder="Link"/>
                                <input type="text" class="form-control" name="e" ng-model="e" placeholder="e"/>
                            </div>
                                <button type="Submit" class="btn btn-info" ng-click="addLoc()" >
                        </form>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>

            </div>
        </div>
    
    </section>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; F5 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("addQues",[]);
        app.controller("addQues",function($scope,$http){
            $scope.addLoc = function(){
                var c = $scope.c;
                var loc = $scope.loc;
                var lat = $scope.lat;
                var lon = $scope.lon;
                var link = $scope.link;
                var e = $scope.e;

                  console.log(id);
                  $http({
                    method : "POST",
                    url: "/addLoc",
                    data: {c: c,loc: loc, lat:lat, lon:lon, link:link,e:e},
                    headers: {'Content-Type': 'application/json'}
                  }).then(function(data){
                    
                  })
                };
        })
    </script>

</body>

</html>
